/* Contact.css */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.contact-details {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

strong {
  font-weight: bold;
  font-size: 22px;
}
